spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${TEST_SPRING_DATASOURCE_URL}
    username: ${TEST_SPRING_DATASOURCE_USERNAME}
    password: ${TEST_SPRING_DATASOURCE_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update